.main-wrapper{
    @apply 
    /* Mobile , Tablet */
    bg-[#fcfaf6] h-screen flex items-center flex-col-reverse justify-center
    /* Pc */
    xl:flex-row xl:justify-evenly
    ;
  }
  
  /* Text */
  .textbox{
    @apply 
    /* Mobile , Tablet*/
    flex flex-col mt-14 text-center
    /* Pc */
    xl:text-right
  }
  .textbox h1{
    @apply  
    /* Mobile */
    text-[24px] font-extrabold
    /* Tablet , Pc */ 
    md:font-bold md:text-[34px] md:leading-snug;
  }
  .textbox p{
    @apply 
    /* Mobile */
    text-gray-700 text-[14px] mt-2 font-semibold py-2
    /* Tablet , Pc */
    md:text-[20px] md:font-medium
    ;
  }
  
  /* Video */
  .video-wrapper{
    @apply 
    xl:mt-[95px]
  }
  .video-wrapper video{ 
    @apply 
    /* Mobile */
    w-[220px]
    /* Tablet */
    md:w-[320px] 
    /* Pc */
    xl:w-[380px] 
  }
  
  
  
  
  